<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61137632110-n4ds9bcm5eu6pbtr4l8k0qaqh3nosep8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61137632110-n4ds9bcm5eu6pbtr4l8k0qaqh3nosep8</string>
	<key>API_KEY</key>
	<string>AIzaSyD7pDNapQ_0ywHFx4HEWCCXr_9tLrKQeTg</string>
	<key>GCM_SENDER_ID</key>
	<string>61137632110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.baseApp</string>
	<key>PROJECT_ID</key>
	<string>cuisine-7fba1</string>
	<key>STORAGE_BUCKET</key>
	<string>cuisine-7fba1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61137632110:ios:6b29d28491a6667e485f7f</string>
</dict>
</plist>